/* these are the site colors, the only colors to be used to maintain a uniform look */



/* shades of teal and blue */

$menu-teal: #61c0bd;
$standard-teal: #5fc0c3;
$dark-teal: #21bec0;
$extra-dark-teal: #1caeb0;



/* shades of teal and blue */

$bright-blue: #57c0d5;
$standard-blue: #5ac0cf;



/* shades of gray */

$light-gray-panel: #f1f2f5;
$dark-gray-panel: #454850;
$light-gray-line: #f1f2f5;			// used on top of white bg
$medium-gray-line: #d9dadd;			// used on top of light-gray-panel bg
$dark-gray-line: #575b64;			// used on top of dark-gray-panel bg
$gray-text-title: #565659;
$gray-text-body: #5a6175;
$gray-text-footer: #969eb6;

$white: #ffffff;