/* these are the site colors, the only colors to be used to maintain a uniform look */



/* shades of teal and blue */

$menu_teal: #61c0bd;
$standard_teal: #5fc0c3;
$dark_teal: #21bec0;
$extra_dark_teal: #1caeb0;



/* shades of teal and blue */

$bright_blue: #57c0d5;
$standard_blue: #5ac0cf;



/* shades of gray */

$light_gray_panel: #f1f2f5;
$slate_gray_panel: #5c5e64;
$dark_gray_panel: #454850;

$light_gray_line: #f1f2f5;			// used on top of white bg
$medium_gray_line: #d9dadd;			// used on top of light-gray-panel bg
$dark_gray_line: #575b64;			// used on top of dark-gray-panel bg

$gray_text_title: #565659;
$gray_text_body: #5a6175;
$gray_text_footer: #969eb6;
$carousel_gray: #979eb1;



$white: #ffffff;