/* <<<<< setting standard width limits that will be used responsively >>>>> */
$smallScreen: 640px;		/* Small Devices, Phones */
$mediumScreen: 900px;		/* Medium Devices, Tablets and Small Laptops */
$largeScreen: 1200px;		/* Large Devices, Wide Screens */

$stdStructureWidth: 1100px;
$edgeStructureWidth: 1260px;




/* <<<<< setting default css to be used on all key elements >>>>> */
* {
	margin: 0px;
	padding: 0px;
}

body {
	width: 100%;
}

.structure-container {
	display: block;
	max-width: $stdStructureWidth;
	margin: 0 auto;
}

// vertically aligns child blocks in the parent
.middle-vert-outer-wrap {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;

	.middle-vert-block {
		display: table-cell;
		vertical-align: middle;
	}
}

.left {
	float: left;
}

.right {
	float: right;
}

.text-center {
	text-align: center;
}

$totalColNum: 1;		/* The total number of columns in a row - min 1 max 12 - can be nested */
$gutterSpace: 30px;		/* The amount of space between columns */
$precisionOffset: 3px;	/* A few extra pixels to make sure the gutter is not too big for width */

/* These classes must be the same per row on all columns in the given row */
.total-col-1 {
	$totalColNum: 1;
	width: calc((100% - (#{$gutterSpace} + #{$precisionOffset}) * (#{$totalColNum} - 1)) / #{$totalColNum});
}
.total-col-2 {
	$totalColNum: 2;
	width: calc((100% - (#{$gutterSpace} + #{$precisionOffset}) * (#{$totalColNum} - 1)) / #{$totalColNum});
}
.total-col-3 {
	$totalColNum: 3;
	width: calc((100% - (#{$gutterSpace} + #{$precisionOffset}) * (#{$totalColNum} - 1)) / #{$totalColNum});
}
.total-col-4 {
	$totalColNum: 4;
	width: calc((100% - (#{$gutterSpace} + #{$precisionOffset}) * (#{$totalColNum} - 1)) / #{$totalColNum});
}
.total-col-5 {
	$totalColNum: 5;
	width: calc((100% - (#{$gutterSpace} + #{$precisionOffset}) * (#{$totalColNum} - 1)) / #{$totalColNum});
}
.total-col-6 {
	$totalColNum: 6;
	width: calc((100% - (#{$gutterSpace} + #{$precisionOffset}) * (#{$totalColNum} - 1)) / #{$totalColNum});
}
.total-col-7 {
	$totalColNum: 7;
	width: calc((100% - (#{$gutterSpace} + #{$precisionOffset}) * (#{$totalColNum} - 1)) / #{$totalColNum});
}
.total-col-8 {
	$totalColNum: 8;
	width: calc((100% - (#{$gutterSpace} + #{$precisionOffset}) * (#{$totalColNum} - 1)) / #{$totalColNum});
}
.total-col-9 {
	$totalColNum: 9;
	width: calc((100% - (#{$gutterSpace} + #{$precisionOffset}) * (#{$totalColNum} - 1)) / #{$totalColNum});
}
.total-col-10 {
	$totalColNum: 10;
	width: calc((100% - (#{$gutterSpace} + #{$precisionOffset}) * (#{$totalColNum} - 1)) / #{$totalColNum});
}
.total-col-11 {
	$totalColNum: 11;
	width: calc((100% - (#{$gutterSpace} + #{$precisionOffset}) * (#{$totalColNum} - 1)) / #{$totalColNum});
}
.total-col-12 {
	$totalColNum: 12;
	width: calc((100% - (#{$gutterSpace} + #{$precisionOffset}) * (#{$totalColNum} - 1)) / #{$totalColNum});
}


.col {
	float: left;
	margin-right: $gutterSpace;
	margin-bottom: 0;
	//border: 1px solid red;

	&:last-of-type {
		margin-right: 0px;
	}
}

.row {
	&:after {
		content: "";
		clear: both;
		display: table;
	}
}




/* <<<<< styling block-user-login block >>>>> */
#block-user-login {
	font-family: $open_sans_regular;
	text-align: center;
	padding-top: 40px;

	li {
		list-style-type: none;
	}
}




/* <<<<< styling header block >>>>> */
#header {
	#top_section {
		background: $white;
		width: 100%;
		height: 81px;
		
		.structure-container {
			position: relative;
			padding-top: 20px;

			#logo {
				float: left;

				img{
					width: 155px;
					height: auto;
				}
			}

			.nav {
				font-family: $museo_500;
				font-weight: bold;
				font-size: 14px;

				ul#main_menu_links {
					list-style-type: none;
					float: right;

					li {
						float: left;

						a {
							background: none;
							display: block;
							padding: 12px 20px;
							text-decoration: none;
							text-transform: uppercase;
							color: $gray_text_title;

							&:hover {
								color: $menu_teal;

								@include el-transition(0.4s);
							}
						}

						&:last-of-type {
							a {
								padding: 12px 28px;
								color: $menu_teal;
								-webkit-box-shadow: inset 0px 0px 0px 2px $menu_teal;
								-moz-box-shadow: inset 0px 0px 0px 2px $menu_teal;
								box-shadow: inset 0px 0px 0px 2px $menu_teal;
								
								@include border-radius(3px);

								/* adding margin to hollow button because the padding does not separate
								 * button from the other menu items */
								margin-left: 20px;

								&:hover {
									background: $dark_teal;
									color: $white;

									@include el-transition(0.2s);
								}
							}
						}
					}
				}
			}

			.mobile-nav {
				position: absolute;
				top: 81px;					/* matches #top_section height */
				z-index: 3;
				font-family: $museo_500;
				font-weight: bold;
				font-size: 14px;
				width: 100%;

				#menu_btn {
					position: absolute;
					top: -70px;
					right: 0;
					padding: 15px 20px;
					text-decoration: none;
					color: $gray_text_title;
					cursor: pointer;

					#menu_icon {
						i {
							font-size: 25px;
						}
					}

					&:hover {
						color: $dark_teal;

						@include el-transition(0.4s);
					}
				}

				ul#mobile_menu_links {
					list-style-type: none;
					float: left;
					background: $light_gray_panel;
					width: 100%;
					height: 0;
					overflow: hidden;

					@include el-transition(0.4s);

					li {
						float: left;
						width: 100%;

						a {
							background: none;
							display: block;
							padding: 20px;
							text-decoration: none;
							text-transform: uppercase;
							color: $gray_text_title;

							&:hover {
								color: $white;
								background: $dark_teal;

								@include el-transition(0.4s);
							}
						}
					}
				}

				#menu_check {
					display: none;

					&:checked ~ #mobile_menu_links {
						height: 171px;
					}
				}
			}
		}
	}

	#banner_section {
		background: #000;

		#banner_wrapper {
			width: 100%;
			height: 460px;
			background-image: url('../images/bg-fill.png');
			background-repeat: repeat-x;
			background-attachment: scroll;
			background-position: center;

			.overlay {
				float: left;
				width: 100%;
				height: 100%;
				background: rgba(21, 27, 36, 0.5);

				color: $white;
				text-align: center;
				text-shadow: 0px 1px 5px rgba(90, 90, 90, 1);

				/* assigning 460px to middle wrap so that it matches container */
				.middle-vert-outer-wrap {
					height: 460px;

					.structure-container {
						max-width: 800px;

						#banner_site_slogan {
							font-family: $museo_300;
							text-transform: uppercase;
							font-size: 52px;
							padding: 0px 15px 40px;
						}

						#banner_text_container {
							@extend .structure-container;

							max-width: 600px;
							font-family: $open_sans_regular;
							line-height: 1.8;
							padding: 0px 15px 0px;

							#banner_text_reg {
								font-size: 18px;
								padding: 0px 0px 15px;

								&:last-of-type {
									padding: 0px;
								}
							}

							#banner_text_small {
								font-size: 14px;
								padding: 0px 0px 15px;
							}
						}
					}
				}
			}

			#banner_bg {
				max-width: $edgeStructureWidth;
				height: 460px;
				background-image: url('../images/banner-bg.jpg');
				background-repeat: no-repeat;
				background-attachment: scroll;
				background-position: top center;
				margin-right: auto;
				margin-left: auto;
			}
		}
	}
}




/* <<<<< styling next_event block >>>>> */
#next_event {
	.highlight-teal {
		font-family: $open_sans_semi_bold;
	}

	#event_date_time {
		font-family: $museo_500;
		font-weight: bold;
		padding-bottom: 10px;
		font-size: 16px;
		color: $gray_text_title;
	}

	#event_location {
		font-family: $open_sans_regular;
		font-size: 14px;
		color: $gray_text_body;
	}

	.register-btn {
		padding: 5px 0px;
	}
}




/* <<<<< styling sub_footer block >>>>> */
#sub_footer {
	position: relative;
	font-family: $open_sans_regular;
	color: $gray_text_body;
	text-align: left;

	.light-gray-block {
		$topBlockHeight: 120px;

		min-height: $topBlockHeight;
		max-height: $topBlockHeight;
	}

	.slate-gray-block {
		$bottomBlockHeight: 185px;

		min-height: $bottomBlockHeight;
		max-height: $bottomBlockHeight;
	}

	.white-block {
		position: absolute;
		bottom: 0;
		max-width: $edgeStructureWidth;
		height: 100%;
		left: 50%;

		@include el-translate(-50%, 0);

		.block-content {
			padding: 30px;
		}

		#blog_articles_section {
			position: relative;

			h2 {
				text-align: center;
				padding-bottom: 30px;
			}

			hr {
				border-top: 1px solid $light_gray_line;
			}

			.title-block {
				a {
					display: inline-block;
					font-family: $open_sans_semi_bold;
					color: $standard_teal;
					font-size: 14px;
					text-decoration: none;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					max-width: 23ch;
				}
			}

			.text-block, .date-block {
				font-family: $open_sans_regular;
				color: $gray_text_body;
				font-size: 14px;
			}
		}
	}

	.load-more-block {
		display: none;
	}
}




/* <<<<< styling footer block >>>>> */
#footer {
	font-family: $open_sans_regular;
	text-align: center;

	#social_icons {
		.fa-ul {
			margin-left: 0;

			li {
				display: inline-block;
			}

			.fa-li {
				position: relative;
				left: 0;
			}

			i {
				font-size: 18px;
			}
		}
	}

	hr {
		border-top: 1px solid $dark_gray_line;
	}

	#footer_text {
		color: $gray_text_footer;
		font-size: 14px;
	}
}




/* <<<<< styling responsive display >>>>> */

/* Largest Devices */
@media only screen and (min-width : ($largeScreen + 1)) {
	#header {
		#logo {
			padding: 0;
		}

		.nav {
			display: block;
			padding: 0;
		}

		.mobile-nav {
			display: none;
		}
	}
}



/* Large Devices, Wide Screens */
@media only screen and (max-width : $largeScreen) {
	#header {
		#logo {
			padding: 0 30px;
		}

		.nav {
			display: block;
			padding: 0 30px;
		}

		.mobile-nav {
			display: none;
		}
	}

	.block-content.structure-container, .responsive-padding {
		padding-right: 30px;
		padding-left: 30px;
	}
}



/* Medium Devices, Tablets and Small Laptops */
@media only screen and (max-width : $mediumScreen) {
	#header {
		.nav {
			display: none;
		}

		.mobile-nav {
			display: block;
		}

		#banner_section {
			#banner_site_slogan {
				font-size: 38px !important;
			}
		}
	}

	.total-col-1, .total-col-2, .total-col-3, .total-col-4, .total-col-5, .total-col-6, .total-col-7, .total-col-8, .total-col-9, .total-col-10, .total-col-11, .total-col-12 {
		width: 100%;
	}

	.col {
		margin-bottom: 40px;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	#next_event {
		.col {
			margin-bottom: 15px;

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		#event_date_time, #event_location {
			float: left;
			width: 100%;
			text-align: center;
		}

		.register-btn {
			float: none;
			width: 100%;
		}
	}

	#our_mission_section {
		.col {
			margin-bottom: 100px;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	#sub_footer {
		.light-gray-block, .slate-gray-block {
			min-height: 0px;
		}

		.white-block {
			position: relative;

			.carousel-arrow {
				display: none;
			}

			.col {
				margin-bottom: 70px;

				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}

		.load-more-block {
			display: block;

			.load-more-btn {
				width: 50%;
				margin: 30px auto 0px;
			}
		}
	}
}



/* Small Devices, Phones */
@media only screen and (max-width : $smallScreen) {
	#header {
		.nav {
			display: none;
		}

		.mobile-nav {
			display: block;
		}

		#banner_section {
			#banner_site_slogan {
				font-size: 30px !important;
				padding: 0px 15px 5px !important;
			}
		}
	}
}